.cardCarousel {
  width: 100%;
}

.cardContainer {
  display: flex;
  overflow: auto;
  padding: 14px;
}

.cardCarousel h2,
p {
  text-transform: capitalize;
  margin: 10px;
  color: white;
}
