.detailsMovie {
  
  h1 {
    color: white;
    padding: 8px 6px 10px 6px;
  }
  .genres{
    display: flex;
    justify-content: space-evenly;
   
    p{
      padding: 8px 0 10px 0;
      font-size: 14px;
    }
  }
  img {
    width: 390px;
    
  }
  p{
    padding: 8px 6px 10px 6px;
  }
  #favourite{
    background-color: white;
    color: black;
    width: 360px;
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    display: block;
    margin: 0 auto;

  }
}
