.banner {
  margin-top: 35px;
  width: 350px;
  /* margin: auto; */
}

.bannerImg {
  border: 1px solid rgb(190, 187, 187);
  width: 350px;
  /* margin: auto; */
  border-radius: 10px;
}

.buttonWrap {
  position: relative;
  bottom: 65px;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
}

button {
  font-weight: bold;
  border-radius: 6px;
  border: none;
  color: white;
  width: 150px;
  padding: 12px 0 12px 0;
  text-transform: capitalize;
}

.play {
  background-color: rgb(255, 255, 255);
  color: black;
}

.myList {
  background-color: rgb(98, 121, 119);
}
