.cardWrap {
  width: 390px;
}

.card {
  display: flex;
  overflow: auto;
  padding: 14px;
}

.cardContent {
  width: 120px;
  margin-right: 15px;
}

.cardWrap h2,
p {
  text-transform: capitalize;
  margin: 10px;
  color: white;
}

.cardContent h3,
p {
  margin: 1px;
  color: white;
}

.cardContent img {
  width: inherit;
  object-fit: cover;
  border-radius: 5px;
}
