.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 95%;
  /* margin: auto; */
}

img {
  width: 40px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
}

li img {
  width: 30px;
  margin: 4px;
}
